@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-text-base: #e16a35;
        --color-fill: #111827;
        --color-accent: #ed8936;
    }
    .red {
        --color-text-base: #040303;
        --color-fill: #c87474;
    }
    .blue {
        --color-text-base: #e6e6e6;
        --color-fill: #0391f3;
    }
    .green {
        --color-text-base: #191818;
        --color-fill: #0e5f0c;
    }
    .light {
        --color-text-base: #64748b;
        --color-fill: #F4F4F4;
    }
}
